* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 35px;
}

h2 {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 35px;
}

p {
  font-size: 20px;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  background-image: url(/img/2987647.jpg);
  background-size: 100%;
  background-repeat: no-repeat;


}

.body>div {
  font-size: 20px;
  color: greenyellow;
  border-radius: 10px;
  justify-content: left;
}

.bg-text>div {
  background-color: #000;
  margin: 50px;
  padding: 5px;
  box-shadow: 0 0 15px 0 white;
}

.white-col {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}